In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Groupby apply on large (relational) data set

## Attentions all writen functions assume a data frame where the date is sorted!!

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state     country  confirmed
0 2020-01-22  Alberta      Canada        0.0
1 2020-01-22       no      Kosovo        0.0
2 2020-01-22       no      Kuwait        0.0
3 2020-01-22       no  Kyrgyzstan        0.0
4 2020-01-22       no        Laos        0.0

# Test data

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [4]:
test_data.head()

            date state  country  confirmed
16854 2020-03-21    no  Germany    16662.0
16918 2020-03-21    no       US    26025.0
17140 2020-03-22    no  Germany    18610.0
17188 2020-03-22    no       US    34944.0
17425 2020-03-23    no  Germany    22672.0

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state   confirmed
country
Germany 2022-07-15    no  29692989.0
US      2022-07-15    no  89453076.0

In [6]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data['state'] = test_data['state'].fillna(0)
test_data.groupby(['state','country']).agg(np.max)

/home/dell/anaconda3/envs/env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                    date   confirmed
state country
no    Germany 2022-07-15  29692989.0
      US      2022-07-15  89453076.0

In [8]:
# this command will only work when adapting the get_doubling_time_via_regression function

#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [9]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [10]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  16854            NaN
                17140            NaN
                17425       6.427510
                17709       5.190573
                17995       6.129400
                             ...
       US       256881    827.799530
                257159    504.626988
                257451    503.802650
                257729    512.049099
                258026    587.617859
Name: confirmed, Length: 1694, dtype: float64

In [11]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [12]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    499           NaN
2  Alberta  Canada    762           NaN
3  Alberta  Canada   1048           NaN
4  Alberta  Canada   1354           NaN

In [13]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state     country  confirmed
0      0 2020-01-22  Alberta      Canada        0.0
1      1 2020-01-22       no      Kosovo        0.0
2      2 2020-01-22       no      Kuwait        0.0
3      3 2020-01-22       no  Kyrgyzstan        0.0
4      4 2020-01-22       no        Laos        0.0

In [14]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state     country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta      Canada        0.0           NaN
1      1 2020-01-22       no      Kosovo        0.0           NaN
2      2 2020-01-22       no      Kuwait        0.0           NaN
3      3 2020-01-22       no  Kyrgyzstan        0.0           NaN
4      4 2020-01-22       no        Laos        0.0           NaN

In [15]:
#pd_result_larg[pd_result_larg['country']=='Germany']

# Filtering the data with groupby apply

In [16]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [17]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [18]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,Kosovo,0.0,NaN,0.0
2,2,2020-01-22,no,Kuwait,0.0,NaN,0.0
3,3,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0
4,4,2020-01-22,no,Laos,0.0,NaN,0.0

# Filtered doubling rate

In [19]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

       state   country   index  confirmed_filtered_DR
258205    no  Zimbabwe  256876            9621.498747
258206    no  Zimbabwe  257118           12016.798122
258207    no  Zimbabwe  257446            9587.325843
258208    no  Zimbabwe  257688            8339.096634
258209    no  Zimbabwe  258209            7854.036810

In [20]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
258205,258205,2022-07-15,no,Andorra,44671.0,inf,44671.0,-3.069768e+15
258206,258206,2022-07-15,no,Algeria,266392.0,8323.708333,266388.4,9.216592e+03
258207,258207,2022-07-15,no,Albania,293917.0,197.058162,293287.4,2.238274e+02
258208,258208,2022-07-15,no,Argentina,9426171.0,inf,9426171.0,-5.060637e+15
258209,258209,2022-07-15,no,Zimbabwe,256083.0,5020.333333,256074.2,7.854037e+03

In [21]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [22]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
256825,256825,2022-07-11,no,Germany,29180489.0,367.531744,29199372.6,355.180856
257110,257110,2022-07-12,no,Germany,29308100.0,206.640573,29308908.2,296.315426
257395,257395,2022-07-13,no,Germany,29460249.0,209.581637,29442354.0,241.309650
257680,257680,2022-07-14,no,Germany,29569943.0,224.914146,29571038.3,224.627136
257964,257964,2022-07-15,no,Germany,29692989.0,254.141047,29699722.6,229.795230

In [23]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)